.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.site-main {
    font-size: 0.8em;
    line-height: 1.6em;
    margin: 1.4em;
    max-width: 640px;
}

@media screen and (min-width: 360px) {
    .site-main {
        margin: 1.8em;
    }
}

@media screen and (min-width: 480px) {
    .site-main {
        font-size: 1em;
        margin: 2em 3em
    }
}

@media screen and (min-width: 680px) {
    .site-main {
        margin: 1em auto 3em;
    }
}

@media screen and (min-width: 840px) {
    .site-main {
        margin: 4.8em auto;
    }
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}