/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 11:29:17 AM
    Author     : lizburton
*/

header img {
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.site-branding {
    text-align: center;
}

.site-title {
    display: block;
    margin: 0 1em;
    font-family: $font__headings;
    font-size: 1em;
    line-height: 1.5em;
    color: inherit;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.site-title a:hover,
.site-title a:focus {
    color: inherit;
    text-decoration: none;
}

.site-description {
    display: none;
}

.site-logo {
    display: none;
    position: relative;
}

.site-logo a {
    position: absolute;
    z-index: 10;
    top: 1em;
    left: 1em;
    display: block;
    width: 2.5em;
    height: 2.5em;
    background: white;
    border: 1px solid black;
    color: white;
    text-decoration: none;
}

.site-logo a:hover,
.site-logo a:focus {
    outline: 2px solid black;
}

.site-firstletter {
    font-family: $font__headings;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    color: $color__text-main;
}

.site-logo a:hover .site-firstletter,
.site-logo a:focus .site-firstletter {
    background: black;
    color: white;
}

@media screen and (min-width: 400px) {
    .site-title {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 450px) {
    .site-title {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 550px) {
    .site-title {
        font-size: 1.75em;
    }
}
