/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 11:29:17 AM
    Author     : lizburton
*/

footer {
	max-width: 960px;
	margin: 0 auto;
	.site-info {
		font-size: 0.8rem;
		text-align: center;
	}
}